# "제목!!"
> "요약!!"

- toc:true 
- branch: master
- badges: true
- comments: true
- author: dh
- categories: [jupyter, pandas]

# 데이터 입출력

## 1) 데이터프레임으로 테이블 만들기

In [1]:
import pandas as pd

In [2]:
names=['철수','영이','길동','미영','순이','철이']

In [3]:
lectures=['국어','영어','수학']

In [4]:
scores=[[84,87,78],[21,15,84],[87,84,75],[100,87,99],[59,99,59],[46,77,56]]

In [5]:
d1=pd.DataFrame(scores,index=names,columns=lectures)

In [6]:
d1

     국어  영어  수학
철수   84  87  78
영이   21  15  84
길동   87  84  75
미영  100  87  99
순이   59  99  59
철이   46  77  56